Library/
Temp/
Obj/
Build/
Builds/
.vscode/
.idea/
.vs/
UserSettings/
*.log
*.stackdump
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
.vscode/
.DS_Store
Thumbs.db
.idea/
*.psd
*.fbx
*.tga
*.wav
Build/
Builds/
Library/PackageCache/
Assets/AssetBundles/
*.tiff
*.hdr
*.exr
